@media (max-width: 280px) {

    /*Contenedor del header*/
    header{
        width: 100%;
        padding: 1rem 1.5rem 0 1.5rem;
    }
    header img{
        width: 75%;
    }

    /*Titulos header*/
    header h1{     
        font-size: var(--mid)
    }
    header p{
        font-size: var(--short);
    }
    /*Boton del header*/
    .header-button{
        font-size: var(--more-short);
    }

    /*MAIN*/
    main{
        padding: 1rem 1.5rem 5rem 1.5rem;
    }
    .section-number1{
        width: 100%;
        height: auto;
        padding: 1rem 1.5rem 0.5rem 1.5rem;
    }
    main .section-number1 img{
        width: 30rem;
    }

    /*Titulos section1 */
    .section-number1 h1{     
        font-size: var(--mid)
    }
    .section-number1 p{
        font-size: var(--short);
    }
    .table-container{
        width: 100%;
        height: auto;
    }
    .table-information{
        width: auto;
        height: auto;
        margin-left: 0;
        margin-right: auto;
    }
    /*IZQUIERDA DE LA TABLA (MONEDAS)*/
    .column{ 
        width: 100%;
    }
    .column p{
        font-size: 0.7rem;
    }
    /*DERECHA DE LA TABLA*/
    .grid-container{
        width: 60%;
        height: auto;
        margin-right: 0;
    }
    .table-price{
       width: 8rem;
    }
    .table-price p{
        font-size: 1rem;
    }
    .grid-container span{
        width: 2rem;
    }
    .green-price{
        background-size: 1.3rem;
    }
    .red-price{
        background-size: 1.3rem;
    }
    /*ACTUALIZACIONES DE LA TABLA*/
    .actualization{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .actualization p{
        font-size: 1.2rem;
        
    }
    /*CODIGO APROBADO HASTA AQUÍ*/
}