/*Rooteo del HTML*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
a{
    text-decoration: none;
}

/*Variables de estilo*/
:root{
    /*Color green*/
    --dark-green: #02733E;
    --green: #68BF3F;
    --ligth-green: #D9F2A2;

    /*Color brown*/
    --dark-brown: brown;
    --light-browm: #C47059;
    --black: #000000;

    /*Tamaño de fuentes*/
    --big: 3.4rem;
    --mid: 2.4rem;
    --short: 1.8rem;
    --more-short: 1.6rem;
}

/*HEADER*/
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    padding: 1rem 1.5rem 5rem 1.5rem;
    width: 100%;
    height: auto;
    text-align: center;
    background: rgb(58,180,125);
    background: linear-gradient(90deg, rgba(58,180,125,1) 0%, rgba(29,253,153,1) 50%, rgba(69,252,244,1) 100%);
}
img{
    width: 30rem;
}
header img{
    align-self: center;
    margin-top: 2rem;
    object-fit: cover;
}

/*Texto del header*/
header h1{
    color: var(--dark-green);
    font-weight: bold;
    font-size: var(--big);
}
header p{
    margin-top: 2.8rem;
    margin-bottom: 3rem;
    color: var(--black);
    opacity: 75%;
    font-weight: 500;
    font-size: var(--mid);
} 

/*Contenedor del header*/
.header-info-container{
    align-self: center;
    margin-top: 2rem;
    width: 100%;
    min-width: 30rem;
    max-width: 90rem;
    text-align: center;
}
.header-info-container div{
    width: 100%;
}

/*Boton del header*/
.header-button{
    display: block;
    position: absolute;

    padding: 1rem;
    top: 100%;
    left: 50%;
	transform: translate(-50%, -24px);

    width: 25rem;
    height: 4.5rem;
    
    background-color: beige;

    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;

    font-size: var(--more-short);
    font-weight: bold;
    color: var(--dark-brown);
    text-align: center;
    z-index: 1;
}
.header-button:hover{
    background-color: rgb(241, 241, 195);
    box-shadow: 0px 4px 8px var(--dark-green);
}

.header-button span{
    display: inline-block;
    width: 1.3rem;
    height: 0.8rem;
    margin-left: 0.5rem;
    background-image: url(./assets/icons/down-arrow.svg);
}

/*MAIN*/

main{
    padding: 0;
    margin: 0;
    height: auto;
    background: white;
}

/*SECTION 1*/

.section-number1{
    background: rgb(241,249,245);
background: linear-gradient(90deg, rgba(241,249,245,1) 0%, rgba(208,246,229,1) 50%, rgba(230,255,254,1) 100%);
    padding: 1rem 1.5rem 5rem 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: auto;
}
.section-number1 img{
    align-self: center;
    margin-top: 2rem;
    width: 40rem;
    object-fit: cover;
}
/*Texto del Section 1*/
section h1{
    color: var(--dark-green);
    font-weight: bold;
    font-size: var(--big);
}
section p{
    margin-top: 2.8rem;
    margin-bottom: 3rem;
    color: var(--black);
    opacity: 75%;
    font-weight: 500;
    font-size: var(--mid);
} 

.table-container{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Inter', sans-serif;
}

/*TITULO DE LA TABLA*/
.table-title{
    font-size: var(--short);
}
.table-information{
    display: grid;
    grid-template-columns: auto 50%;

    width: 65%;
    max-width: 30rem;
    min-height: 15rem;

    height: auto;

    background-color: transparent;
}
/*IZQUIERDA DE LA TABLA (MONEDAS)*/
.column{ 
    display: flex;
    flex-direction: column;
    height: auto;
}
.column p{
    margin: 0.2rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;


    background-color: white;
    font-size: var(--more-short);
    text-align: justify;

    width: auto;
}
/*DERECHA DE LA TABLA*/
.grid-container{
    display: grid;
    grid-template-columns: auto 50%;
    width: 60%;
    max-width: 30rem;
    min-height: 15rem;

    height: auto;
}
.table-price{ 
    display: flex;
    flex-direction: column;
    height: auto;
}
.table-price p{
    margin: 0.2rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem;


    background-color: white;
    font-size: var(--more-short);
    text-align: justify;
    color: #535353;

    width: auto;
}
/*TRENDING DE LA TABLA*/
.table-price .green-price, .red-price{ 
    display: flex;
    flex-direction: column;

    height: auto;
    width: 4rem;

    background-color: white;
    border-radius: 1rem;
}
.green-price{
    background-image: url('./assets/icons/trending-up.svg');
    background-size: 1.8rem;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;

    padding: 2rem 1rem 2rem 1rem;
    margin: 0.2rem;
}
.red-price{
    background-image: url('./assets/icons/trending-down.svg');
    background-size: 1.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    object-fit: contain;
    margin: 0.2rem;
    padding: 2rem 1rem 2rem 1rem;
}

/*ACTUALIZACIONES DE LA TABLA*/
.actualization{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25rem;
    max-width: 30rem;
    min-width: 15rem;
    height: 0.5rem;
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;

    background-color: var(--light-browm);
    border-radius: 1rem;
    margin-top: 1.5rem;
}
.actualization p{
    font-size: var(--more-short);
    font-weight: 500;
}
.actualization > p {
    color: white;
    opacity: 100%;
}