@media (max-width: 520px) {
    /*Contenedor del header*/
    header{
        width: 100%;
        padding: 1rem 1.5rem 0 1.5rem;
    }
    header .header-logo-img img{
        width: 45%;
    }
     /*Titulos header*/
    header h1{     
        font-size: var(--mid)
    }
    header p{
        font-size: var(--short);
    }

    /*MAIN*/
    main{
        padding: 1rem 1.5rem 5rem 1.5rem;
    }
    .section-number1{
        width: 100%;
        height: auto;
        padding: 1rem 1.5rem 0.5rem 1.5rem;
    }
    main .section-number1 img{
        width: 30rem;
    }
    /*Titulos section1 */
    section h1{     
        font-size: var(--mid)
    }
    section p{
        font-size: var(--short);
    }

}